* {
  box-sizing: border-box;
}

.clock-wrapper {
  width: 500px;
  margin: 30px auto;
}

.switch-btn-wrapper button {
  width: 100%;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.digital-clock-wrapper {
  text-align: center;
  font-size: 16px;
}

.digital-clock-wrapper span {
  display: block;
  font-size: 60px;
  font-weight: bold;
}

.analog-clock-wrapper .clock-diameter {
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  background-color: #e5e5e5;
  border-radius: 50%;
  line-height: 150px;
  margin: 0 auto;
  position: relative;
}

.analog-clock-wrapper .hours-niddle {
  width: 10px;
  height: 65px;
  background-color: #920303;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -5px;
  z-index: 3;
}

.analog-clock-wrapper .minute-niddle {
  width: 5px;
  height: 75px;
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  z-index: 2;
}

.analog-clock-wrapper .second-niddle {
  width: 2px;
  height: 75px;
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  z-index: 1;
}